[submodule "GraftMobileClient/qzxing"]
    path = GraftMobileClient/qzxing
    url = https://github.com/graft-project/QZXingBinaries.git
[submodule "GraftMobileClient/qrcodegenerator"]
    path = GraftMobileClient/qrcodegenerator
    url = https://github.com/EDDragonWolf/QR-Code-generator.git
[submodule "GraftMobileClient/libgraft"]
	path = GraftMobileClient/libgraft
	url = https://github.com/graft-project/libgraft.git
[submodule "GraftMobileClient/3rdparty/sparkle"]
	path = GraftMobileClient/3rdparty/sparkle
	url = https://github.com/EDDragonWolf/SparkleUpdater.git

